<div class="card" ng-controller="users-controller">
    <div class="item item-text-wrap">
        <div class="list">

            <table>
                <tr>
                    <td colspan="2">
                        <label class="item item-input">
                            <input type="text" placeholder="Nome" ng-model="n">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Nível
                            </div>
                            <select ng-model="nivel" ng-change="getLevel(nivel)">
                                <option value="0">Administrador</option>
                                <option value="1" selected>Recepção/Caixa</option>
                                <option value="2">Professor</option>
                            </select>
                        </label>
                    </td>
                    <td width="20%">
                        <button class="button button-positive" style="float: right" ng-click="addUser()">
                            <i class="icon ion-ios-paperplane-outline"></i> incluir
                        </button>
                    </td>
                </tr>
            </table>

            <br>

            <label class="item item-input item-select">
                <div class="input-label">
                    Nível
                </div>
                <select ng-model="nivelFilter" ng-change="getFilterLevel(nivelFilter)">
                    <option value="0">Administrador</option>
                    <option value="1" selected>Recepção/Caixa</option>
                    <option value="2">Professor</option>
                </select>
            </label>

            <div class="item item-button-right" ng-repeat="X in usersData | orderBy: 'login' | filter: {nivel: nivelFilter}" >
                {{X.login}}
                <button class="button button-assertive" ng-click="deleteUser(X.id, 'users', $index)">
                    <i class="icon ion-ios-trash-outline"></i>
                </button>
            </div>

        </div>
    </div>
</div>